<ion-content class="ion-padding">
  <div class="city-grid">
    <ion-card *ngFor="let location of locations">
      <ion-card-header>
        <div class="card-title-row">
          <ion-card-title>Weather in {{ location.city }}</ion-card-title>
          <ion-button size="small" fill="outline" (click)="goToDetails(location.city)">
            Details
          </ion-button>
        </div>
      </ion-card-header>

      <ion-card-content>
        <p><strong>Temperature:</strong> {{ location.temperature }}</p>

        <ion-item>
          <ion-label position="floating">Note</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="location.note"
            placeholder="Enter a note...">
          </ion-input>
        </ion-item>

        <ion-note color="medium" class="ion-margin-top">
          Your Note: <em>{{ location.note }}</em>
        </ion-note>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
